@font-face {
  font-family: "BebasKai";
  src: url("../../fonts/BebasKai/BebasKai.eot?v=4.4.0");
  src: url("../../fonts/BebasKai/BebasKai.eot?#iefix&v=4.4.0") format("embedded-opentype"),
    url("../../fonts/BebasKai/BebasKai.woff?v=4.4.0") format("woff"),
    url("../../fonts/BebasKai/BebasKai.ttf?v=4.4.0") format("truetype"),
    url("../../fonts/BebasKai/BebasKai.svg?v=4.4.0#BebasKai") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Regular.eot?v=4.4.0");
  src: url("../../fonts/Montserrat/Montserrat-Regular.eot?#iefix&v=4.4.0") format("embedded-opentype"),
    url("../../fonts/Montserrat/Montserrat-Regular.woff?v=4.4.0") format("woff"),
    url("../../fonts/Montserrat/Montserrat-Regular.ttf?v=4.4.0") format("truetype"),
    url("../../fonts/Montserrat/Montserrat-Regular.svg?v=4.4.0#BebasKai") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RoundedElegance";
  src: url("../../fonts/RoundedElegance/RoundedElegance-Regular.eot?v=4.4.0");
  src: url("../../fonts/RoundedElegance/RoundedElegance-Regular.eot?#iefix&v=4.4.0")
      format("embedded-opentype"),
    url("../../fonts/RoundedElegance/RoundedElegance-Regular.woff?v=4.4.0") format("woff"),
    url("../../fonts/RoundedElegance/RoundedElegance-Regular.ttf?v=4.4.0") format("truetype"),
    url("../../fonts/RoundedElegance/RoundedElegance-Regular.svg?v=4.4.0#BebasKai") format("svg");
  font-weight: normal;
  font-style: normal;
}
