//Colors
$lipstick: #bd0909;
$red: red;
$white: #ffffff;
$gray-edward: #adaeae;
$gray-emperor: #515151;
$primary: $lipstick;
$primary_color: $lipstick;
$button-disable: #6c757d;
$alto: #d8d8d8;
$white_smoke: #f6f6f6;
$chicago: #5b5957;
$mercury: #e2e2e2;
$border-inputs: #979797;
$matisse: #21619a;
$guardsmanRed: #cd0403;
$mako: #44494d;

// Shadow
$shadow-sidebar: rgb(214, 207, 207);
$main-background: rgba(165, 206, 224, 0.08);
$dshadow: 0 2px 5px $alto;

//Sizes
$p1: 4rem;
$title-mobile: 30px;
$subtitle-mobile: 23px;
$title-desktop: 32px;
$subtitle-desktop: 25px;
$label-forms: 16px;
$mpadding: 15px;
$mradius: 12px;
$max-width: 768px;
$border-radius-bootstrap: 0.25em;

//Fonts
$first_font: Montserrat;
$sec_font: BebasKai;
$third_font: RoundedElegance;

//Breaks
$pocket_width: 540px;
$tablet_width: 768px;
$desktop_width: 1024px;
$tv_width: 1440px;
$tv_big: 1980px;

//Bordes
$border-radius-cards: 1em;
$border: 1px solid $gray-edward;

//Opcity Bottons
$opacity-button: 0.7;
